@media screen and (min-width:320px) and (max-width: 768px) {
    .menu-icon {
      display: inline-block;
      visibility: visible;
      font-size: 30px;
      cursor: pointer;
      margin-top: -16px;
      margin-left: 5em;
    } 
    .my-page-menu ul, .page-adress-list{
      visibility: hidden;
    }
   a.page-logo-title{
      display: inline-block;
      margin-left: 16px;
      max-width: 320px;
      height: 24px;  
    } 
    .first-section {
      width:320px;
      height: 432px;
      margin: 2px;
      gap: 0px;
      opacity: 0px;
      padding: 0px;
    }
    
    .second-section p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.02em;
    }
    .article-content {
      width: 736px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 20px;
      min-height: 316px;
      
    }
    
    .article-list svg {
      visibility: hidden;
      position: absolute;
    }
    .team-title{
      text-align: left;
    }
    .our-team {
      width: 530px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 20px;
      /* align-items: center; */
      justify-content: center;
  }
    
    .container-header {
      padding: 0;
      display: flex;
      margin-top: 16px;
      margin-left: 16px;
      flex-direction: column;
      justify-content: center;
    }
    .fourth-section{
      display: flex;
    }
    .fourth-section li {
      width: 360px;
      height: 416px;
    }
    .page-menu-list {
      display: flex;
    }
  
    .page-adress-list {
      display: block;
      margin-left: 120px;
    }
  
    .mail {
      margin: 0 auto;
    }
    .effect-title {
      padding-top: 72px;
    }
    .title-content {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.02em;
    }
    .portfolio-list {
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      width: 736px;
      column-gap: 24px;
      
    }
  
    .portfolio-card img {
      width: 356px;
      flex-direction: row;
    }
    .portfolio-title{
      text-align: left;
    }
    .hidden {
      width: 300px;
    }
     .page-footer{
      min-width: 320px;
      max-width: 400px;
      padding-left: 15px;
     }
     .footer-container {
      display: flex;
      flex-direction: column;
      width: 540px;
      gap: 60px;
      flex-wrap: nowrap;
      align-items: flex-start;
  }
  
    
    .footer-form {
      display: flex;
      flex-direction: row;
    }
  
    .social-media {
      width: 208px;
      display:flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-left: 2px;
      
    }
  
    .subscribe-modal {
      margin: 0px;
    }
  }